
{% extends 'base.html' %}
{%load static %}

<!-- Scripts for the page included here -->
{% block scripts%}
<script src="{% static 'js/detail.js' %}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock scripts%} 


<!-- Body tag content -->
{% block body %}

<!-- Modal starts here -->
<div class="modal fade" id="review-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>What's Your Rating?</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          {%csrf_token%}
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Rating</label>
            <div>
            <a><i class= "fa fa-star-o  stars" style="color:orange" id="1"></i></a>
            <a><i  class= "fa fa-star-o stars" style="color:orange" id="2"></i></a>
            <a><i  class= "fa fa-star-o stars" style="color:orange" id="3"></i></a>
            <a><i  class= "fa fa-star-o stars" style="color:orange" id="4"></i></a>
            <a ><i  class= "fa fa-star-o stars" style="color:orange" id="5"></i></a>
          </div>
          </div>
          <div class="mb-3">
            <label for="comment" class="col-form-label"><b>Review</b></label>
            <textarea class="form-control" id="comment" placeholder="Start Typing..."></textarea>
          </div>
          <button type="submit" class="btn btn-primary" id="submit-btn">Submit Review</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- Modal ends here -->

<div class="container my-4">
    <div class="card mb-3" style="max-width: 1200px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{prod.name}}</h5>
            <span class="card-text">{{prod.calculateAvgRating}} out of 5</span>
            <p class="mt-0"style="color:green;font-size: 13px;">{{prod.calculateNumberOfRatings}} ratings</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <div class="row">
            <div class="col-auto">
              <a href="#" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#review-form" data-bs-whatever="@mdo">Write a Product Review</a>
            </div>
            <div class="col-6">
              <a class="btn btn-danger" id="back-btn">Back</a>
            </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
 
<!-- All Ratings and progress -->
  <div class="container my-4">
    <div class="container">
      <div class="row">
        <div class="col order-last list-scroll">
          {% for i in prodRatings%}
          <div class="card my-3">
            <div class="card-header" data-rating="{{i.rating}}">
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <span class="card-text">{{i.comment}}</span>
              <p class="mt-2" style="color: gray;font-size: 13px;">{{i.created}}</p>
              <a class="badge rounded-pill bg-success">Helpful</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="col">
            <h3>Customer reviews</h3>
            <h6  style="color: gray;font-size: 20px;">{{prod.calculateAvgRating}} out of 5</h6>
            <p style="color:green;font-size: 13px;">{{prod.calculateNumberOfRatings}} global ratings</p>
            <div class="row">
              <div class="col-2 pr-0" style="font-size: 15px;color: green;"><p>5 star</p></div>
              <div class="col-10">
                <div class="progress my-2" style="height:20px">
                  <div class="progress-bar bg-warning" role="progressbar" id="5-star"style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2 pr-0" style="font-size: 15px;color: green;"><p>4 star</p></div>
              <div class="col-10">
                <div class="progress my-2" style="height:20px">
                  <div class="progress-bar bg-warning " id="4-star" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">4 Star</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2 pr-0" style="font-size: 15px;color: green;"><p>3 star</p></div>
              <div class="col-10">
                <div class="progress my-2" style="height:20px">
                  <div class="progress-bar bg-warning " id="3-star" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">3 Star</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2 pr-0" style="font-size: 15px;color: green;"><p>2 star</p></div>
              <div class="col-10">
                <div class="progress my-2" style="height:20px">
                  <div class="progress-bar bg-warning " id="2-star" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">2 Star</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-2 pr-0" style="font-size: 15px;color: green;"><p>1 star</p></div>
              <div class="col-10">
                <div class="progress my-2" style="height:20px">
                  <div class="progress-bar bg-warning " id="1-star" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">1 Star</div>
                </div>
              </div>
            </div>
            
        </div>
      </div>
    </div>
</div>

</div>
{% endblock body %}
<!-- Body tag ends here -->