{% extends 'base.html' %}
{%load static %}

{% block scripts%}
<script src="{% static 'js/main.js' %}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock scripts%}


{% block body %}
<!-- Navbar starts here -->

<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i style="color:orange" class ="fa fa-star fa-lg"> </i>  Review </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
  
      </ul>
      <form class="d-flex" id="search-form">
        {% csrf_token %}
        <input class="form-control me-2" id="search-txt" type="search" placeholder="Search for a product..."
          aria-label="Search">
        <button class="btn btn-outline-success" id="submitBtn" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- Navbar ends -->

<!-- Index for all products -->
<div class="container" id="cont">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {%for item in allProds%}
    <div class="col">
      <div class="card product-list-card" data-title="{{item.name}}"
      data-id={{item.id}} data-rating={{item.avgRating}} ">
        <img src={{item.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><a href="/{{item.id}}/" style="text-decoration: none;">{{item.name}}</a></h5>

            <div ><div class="card-subtitle mb-2 text-muted" style="font-size:18px">{{item.avgRating}} out of 5</div></div>
          <div><div class="rating-box" id="{{item.name}}{{item.id}}id"></div>
          <div class="my-3">
            <a class="btn btn-primary btn-sm" href="{{item.id}}/">View Product</a>
          </div>
        </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{% endblock body %}