
{% extends 'base.html' %}
{%load static %}

{% block scripts%}
<script src="{% static 'js/main.js' %}" defer></script>

{% endblock scripts%} 


{% block body %}
<div class="container" id="cont">

    {% for item in allProds%}
    <div class="card my-5 product-list-card" data-title="{{item.name}}" data-id={{item.id}} data-rating={{item.avgRating}} style="width: 38rem;" >

        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Average Rating</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{item.avgRating}}</h6>
          <div class="rating-box" id="{{item.name}}{{item.id}}id">
            
          </div>
        
        
         
          <div class="my-3">
          <a class="btn btn-primary btn-sm" href="{{item.id}}/">Product Page</a>
          <a class="btn btn-success btn-sm" href="">Add a review</a>
        </div>
        </div>
      </div>


    {%endfor%}
   
</div>

{% endblock body %}